[submodule "lib/cperl-mode"]
	path = lib/cperl-mode
	url = https://github.com/jrockway/cperl-mode.git
[submodule "lib/auto-complete"]
	path = lib/auto-complete
	url = https://github.com/m2ym/auto-complete.git
